.income-head{
    color: #5266ff;
}

.goal-box{
    border-bottom: 2px solid #5266ff;
    padding-bottom: 10px;
}

.selected-nums{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.income-section{
    margin-left: -20px;
}