.color-box-1 {
	background-color: rgb(8 0 163);
	width: 18px;
	height: 10px;
	border-radius: 10px;
}
.color-box-2 {
	background-color: rgb(73 53 255);
	width: 18px;
	height: 10px;
	border-radius: 10px;
}
.color-box-3 {
	background-color: rgb(133 175 255);
	width: 18px;
	height: 10px;
	border-radius: 10px;
}

@media only screen and (min-width: 1601px) {
	.very-large {
		display: block !important;
	}
}

@media only screen and (min-width: 1401px) and (max-width: 1600px) {
	.xxxl {
		display: block !important;
	}
}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {
	.xxl {
		display: block !important;
	}
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
	.xl {
		display: block !important;
	}
}

@media only screen and (min-width: 850px) and (max-width: 992px) {
	.lg {
		display: block !important;
	}
}

@media only screen and (min-width: 769px) and (max-width: 849px) {
	.mlg {
		display: block !important;
	}
}

@media only screen and (max-width: 768px) {
	.md {
		display: block !important;
	}
}
